## Testing Oracle Connection From GCP Notebook
    * Using Secret Manager

In [ ]:
pip install cx_Oracle

In [3]:
import json
import pandas as pd
import cx_Oracle as cx

# Import the Secret Manager client library.
from google.cloud import secretmanager

# GCP project in which to store secrets in Secret Manager.
project_id = "knada-gcp"

# ID of the secret to create.
secret_id = "amit-garg"

# Create the Secret Manager client.
client = secretmanager.SecretManagerServiceClient()

# Access the secret version.
response=client.access_secret_version(name= f'projects/{project_id}/secrets/{secret_id}/versions/latest')
payload = response.payload.data.decode("UTF-8")

#print("Plaintext: {}".format(payload))

# Convert json to dictionary.
config = json.loads(payload)

## Connect with Oracle database.

In [4]:
try:
    con = cx.connect(**config['U'])
except:
    print('Oracle: Unable to connect')

## Test an sql query.

In [5]:
%%time
pd.read_sql("SELECT count(*)FROM DK_P.POSTERING", con)

CPU times: user 933 Âµs, sys: 4.21 ms, total: 5.14 ms
Wall time: 108 ms

    COUNT(*)
0  121235465

## Close database connection (if done.)

In [6]:
if con:
    con.close()

## Large query which does not perform on KNADA-GCP

In [ ]:
pd.read_sql("SELECT AAR FROM DT_P.FAK_STONAD WHERE AAR = 2021", con)